.icon {
  margin: 0 0.5rem;
  width: 2rem;
  min-width: 2rem;
  color: var(--color-primary-weak);
}

.selected {
  color: var(--color-text-primary);
}

@container (width < 38rem) {
  .icon {
    width: 1.3rem;
    min-width: 1.3rem;
    margin: 0 0.3rem;
  }
}
