.icon {
  margin: 0 0.5rem;
  width: 2rem;
  min-width: 2rem;
  color: var(--color-primary-weak);
}

.selected {
  color: var(--color-text-primary);
}

.correct {
  color: var(--color-active-green);
}

.incorrect {
  color: var(--color-incorrect-red);
}

.rotate {
  animation: rotate 1.2s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@container (width < 38rem) {
  .icon {
    width: 1.3rem;
    min-width: 1.3rem;
    margin: 0 0.3rem;
  }
}
