.hiddenMobile {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
}

.yearListWrapper {
  max-height: 100vh;
  flex-direction: column;
  position: sticky;
  top: 0;
  overflow-y: auto;
  width: 100%;
  padding: 0.5rem;

  @media (min-width: 768px) {
    min-width: 300px;
    max-width: 300px;
  }
}
