.wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 12px;
  background-color: #333;
  font-family: 'Inter', sans-serif;
  color: #e5e7f8;
  border-bottom: 1px solid hsla(0, 0%, 45%, 1);
  border-left: 0px solid hsla(112, 45%, 42%, 1);
  transition: border-left 0.3s ease;
}

.active {
  border-left: 5px solid hsla(112, 45%, 42%, 1);
}
