@use 'tailwindcss';

:root {
  --color-text-primary: #e5e7f8;
  --color-primary-weak: #828392;
  --color-primary-weak-invisible: #82839200;
  --color-background-grey-1: #333;
  --color-winner-yellow: #ffcb00;
  --color-active-green: hsla(112, 45%, 42%, 1);
  --color-active-green-invisible: hsla(112, 45%, 42%, 0);
  --color-incorrect-red: rgb(255, 68, 0);
}

@theme {
  --color-text-primary: var(--color-text-primary);
  --color-primary-weak: var(--color-primary-weak);
  --color-primary-weak-invisible: var(--color-primary-weak-invisible);
  --color-background-grey-1: var(--color-background-grey-1);
  --color-winner-yellow: var(--color-winner-yellow);
  --color-active-green: var(--color-active-green);
  --color-active-green-invisible: var(--color-active-green-invisible);
  --color-incorrect-red: var(--color-incorrect-red);
}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Merriweather+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital@0;1&display=swap');

// RESET
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Futura, Helvetica, Arial, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
  height: 100%;
}
// END RESET

// GLOBAL STYLES
.p-0 {
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #24242e 0, #111115 12rem) no-repeat,
    #111115;

  --shadow-color: 240deg 19% 6%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.9px 1.7px 2.2px -0.8px hsl(var(--shadow-color) / 0.37),
    2.1px 4.3px 5.5px -1.6px hsl(var(--shadow-color) / 0.38),
    5.1px 10.3px 13.2px -2.3px hsl(var(--shadow-color) / 0.39);
}
