.wrapper {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.innerWrapper {
  position: relative;
}

.poster {
  display: block;
  border-radius: 4px;
}

.frame {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0.8) 50%,
    hsla(0, 0%, 100%, 0)
  );
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: 100% 1px;
}
