.loadingSpinner,
.loadingSpinner:after {
  box-sizing: border-box;
}
.loadingSpinner {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.loadingSpinner:after {
  content: ' ';
  display: block;
  width: 32px;
  height: 42px;
  margin: 4px;
  border-radius: 50%;
  border: 3.2px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: loadingSpinner 1.2s linear infinite;
}
@keyframes loadingSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
