.base {
  font-family: 'Inter', sans-serif;
  line-height: 1.2;
  color: var(--color-text-primary);
}

.margin {
  margin-bottom: 20px;
}

.h1 {
  font-size: 2.986rem;

  @media (max-width: 767px) {
    font-size: 1.476rem;
  }
}

.h2 {
  font-size: 2.488rem;

  @media (max-width: 767px) {
    font-size: 1.383rem;
  }
}

.h3 {
  font-size: 2.074rem;

  @media (max-width: 767px) {
    font-size: 1.296rem;
  }
}

.h4 {
  font-size: 1.728rem;

  @media (max-width: 767px) {
    font-size: 1.215rem;
  }
}

.h5 {
  font-size: 1.44rem;

  @media (max-width: 767px) {
    font-size: 1.138rem;
  }
}

.h6 {
  font-size: 1.2rem;

  @media (max-width: 767px) {
    font-size: 1.067rem;
  }
}

.body {
  font-size: 1rem;
  line-height: 1.6;
}

.white {
  color: white;
}

.black {
  color: black;
}
