.mainWrapper {
  display: flex;
  height: 100%;
  width: 100%;

  --player-color-text-white: #fff;
  --player-color-text-black: #000;
  --player-color-glow-black: #000;
  --player-color-glow-white: #fff;
  --player-color-glow-transparent: transparent;

  --player-color-0-background: #1395ba;
  --player-color-0-text: var(--player-color-text-white);
  --player-color-0-glow: var(--player-color-glow-black);
  --player-color-1-background: #a2b86c;
  --player-color-1-text: var(--player-color-text-black);
  --player-color-1-glow: var(--player-color-glow-transparent);
  --player-color-2-background: #ebc844;
  --player-color-2-text: var(--player-color-text-black);
  --player-color-2-glow: var(--player-color-glow-transparent);
  --player-color-3-background: #ef8b2c;
  --player-color-3-text: var(--player-color-text-black);
  --player-color-3-glow: var(--player-color-glow-transparent);
  --player-color-4-background: #c02e1d;
  --player-color-4-text: var(--player-color-text-white);
  --player-color-4-glow: var(--player-color-glow-black);
  --player-color-5-background: #0f5b78;
  --player-color-5-text: var(--player-color-text-white);
  --player-color-5-glow: var(--player-color-glow-black);
  --player-color-6-background: #d94e1f;
  --player-color-6-text: var(--player-color-text-white);
  --player-color-6-glow: var(--player-color-glow-black);
  --player-color-7-background: #5ca793;
  --player-color-7-text: var(--player-color-text-white);
  --player-color-7-glow: var(--player-color-glow-black);
  --player-color-8-background: #651199;
  --player-color-8-text: var(--player-color-text-white);
  --player-color-8-glow: var(--player-color-glow-black);
  --player-color-9-background: #ce4ca2;
  --player-color-9-text: var(--player-color-text-black);
  --player-color-9-glow: var(--player-color-glow-white);
  --player-color-10-background: #8e1063;
  --player-color-10-text: var(--player-color-text-white);
  --player-color-10-glow: var(--player-color-glow-black);
  --player-color-11-background: #4c8315;
  --player-color-11-text: var(--player-color-text-white);
  --player-color-11-glow: var(--player-color-glow-black);
  --player-color-default-background: #1395ba;
  --player-color-default-text: var(--player-color-text-white);
  --player-color-default-glow: var(--player-color-glow-black);
}

.heightRestricted {
  font-size: 1.83vh;
}

.widthRestricted {
  font-size: 1.2vw;
}

.main {
  background: linear-gradient(180deg, #24242e 0%, #111115 24.3%);
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 3em;
  padding-top: 1em;
}

.sidebar {
  flex-basis: 20em;
  background: #363636;
  flex-grow: 0;
  border-right: 0.5px solid #696b7e;
  overflow: hidden;

  padding: 2em 1em 1em 1em;

  font-family: 'Inter', sans-serif;
}

.leaderboard {
  margin: 0 0 0.5em 0;
  padding: 0;

  color: #ffffff;
  font-weight: 700;

  & ol {
    counter-reset: position;
  }

  & li {
    margin-bottom: 0;
    padding: 0.2em 0.5em;

    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    align-items: baseline;

    overflow: hidden;

    font-size: 0.8em;
    border-radius: 0.5em;
  }
}

.leaderboardOverflow {
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em;

  font-size: 1em;
}

.categories {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.8em;
  color: #e5e7f8;
  line-height: 1.5;
  margin: 0 0 0.5em 0;
  padding: 0;
  list-style: none;
}

.categoryItem {
  padding: 0;

  & a {
    color: #e5e7f8;
    text-decoration: none;
  }
}

.active {
  & a {
    color: #ef8b2c;
  }
}

.nominationsArea {
  height: 100%;
  gap: 1em;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  font-size: 0.7em;
}

.largeNomination {
  font-size: 1em;
}

.heading {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 2.7em;
  color: #e5e7f8;
  margin: 0;
  padding-bottom: 0.2em;
}

.subHeading {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  color: #e5e7f8;
  margin: 0;
  padding-bottom: 0.2em;
}

.subHeadingSmall {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #e5e7f8;
  margin: 1em 0 0.2em;
}
